.freda-button {
    display: inline-block;
    padding: 0.75em 1.5em;
    margin: 20px 0;
    border-radius: 8px;
    background: var(--Klima, #30472F);
    color: #fff!important;
    text-decoration: none!important;
    font-weight: 600!important;
    transition: background 0.3s ease;
}
.freda-button:hover {
    background: #40633e;
}