.selected-post-poll {
  width: 100%;
  height: 377px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 63px 0 40px 0;
  overflow: hidden;

  &:hover {
    .post-thumbnail {
      img {
        transform: scale(1.2);
      }
    }
  }

  .post-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 80%;
      background: linear-gradient(to top, #000000d1, #00000000);
      border-radius: 8px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease;
    }
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    align-items: end;
    gap: 160px;

    .post-info {
      display: flex;
      flex-direction: column;
      gap: 14px;
      align-items: flex-start;

      .post-title {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;

        a {
          color: #fff;
          text-decoration: none;
        }
      }

      .post-excerpt {
        font-size: 18px;
        color: #fff;
        line-height: 1.5;
      }

    }
    .post-action {
      display: none;
      width: 100%;
    }

    .post-poll {
      .poll-frontend {
        background-color: #000000b2;
        border-radius: 8px;
        padding: 24px;
      }

      .poll-question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        width: 427px;

        .poll-form {
            width: 100%;

            .poll-option {
                &.voted-option {

                    label {
                        background: #30472f;
                        color: #fff;
                    }
                }

                label {
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    background: #ffffff;
                    font-size: 17px;
                    font-weight: 400;
                    color: #000;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    max-width: clamp(200px, 100%, 400px);
                }

                .poll-percentage {
                    font-weight: 400;
                    color: #fff;
                }
            }
        }

        .poll-thankyou {
            color: #fff;
        }

        h4 {
          color: #fff;
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;
          text-align: left;
          line-height: 1.3;
          margin-bottom: 5px;
        }

        ul {
          li {
            
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .selected-post-poll {
    padding: 156px 20px 40px 20px;
    height: auto;

    .container {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }
}
@media screen and (max-width: 500px) {
  .selected-post-poll {
    padding: 202px 0 40px 0;

    .container {
      grid-template-columns: 1fr;
      gap: 16px;

      .post-info {
        background: #F3F2EA;
        padding: 20px;
        border-radius: 8px;
        width: 100%;

        .post-category {
          position: absolute;
          left: 20px;
          top: 156px;
        }
        
        .post-title {
          a {
            color: #000;
            font-size: 24px;
          }
        }

        .post-excerpt {
          font-size: 16px;
          color: #000;
        }

        .post-action {
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          
          img {
            width: 30px;
            height: 17px;
          }
        }
      }

      .post-poll {
        .poll-question {
          width: 100%;
          .poll-form {
            .poll-option {
              label {

              }
            }
          }
        }
      }
    }
  }
}