.freda-source-list ul {
    padding-left: 1.2em;
    list-style-type: square;
    list-style-position: outside;
}

.freda-source-list ul li {
    margin-bottom: 0.5em;
    list-style-type: square;
    color: #9C2D5D; /* custom bullet color */
}

.freda-source-list ul li::marker {
    color: #9C2D5D;
}

.freda-source-list a {
    color: var(--Klima, #30472F);
    font-family: "Gotham Narrow", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 25px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}